.friend__Name {
    text-align: center;
}

.friend {
    padding: 3px;
    width: 30%;
    font-size: 60%;
}

.friend img {
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    
    
}